.reviewratings {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  max-height: 80px;
}

.reviewheader {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 15px;
  margin: 10px 5px 5px 5px;
}

.reviewstars {
  width: 23%;
}

.reviewredstars {
  font-size: 20px;
  color: rgb(220,20,60);
}

.reviewgreystars {
  font-size: 20px;
  color: lightgray;
}

.reviewdinedondate {
  color: #2d333f;
  font-size: 13px;
  font-weight: 500;
}

.reviewscores {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0px 5px 5px 5px;
  font-size: 12.5px;
  font-weight: 600;
}

.reviewscore {
  margin: 0px 4px 0px 4px;
}
