.reviewuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 18%;
  line-height: 1.7;
  font-weight: 500;
  margin: 5px;
}

.userinitialscontainer {
  position:relative;
  min-height: 65px;
  max-height: 65px;
  min-width: 65px;
  max-width: 65px;
  justify-content: center;
  align-items: center;
}

.vip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: lighter;
  height: 20px;
  width: 30px;
  color: white;
  background-color: #fdaf08;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 1rem;
}

.reviewuserinitials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: lighter;
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
  max-width: 45px;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50%
}

.reviewusername {
  color: #2d333f;
}

.reviewusercity {
  color: rgb(111, 115, 123);
}

.reviewuserreviewcount {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: rgb(111, 115, 123);
}

.reviewuserreviewcounticon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
