.pagescarousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.pagenumberbuttonslist {
  display: flex;
  align-items: center;
  justify-content: center;
}
