.pagenumberbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: solid #d8d9db 1px;
  border-radius: 50%;
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}

.pagenumberbutton:hover, .currentpagenumberbutton {
  cursor: pointer;
  border: solid rgb(220,20,60) 2px;
  margin: -1px 9px -1px 9px;
}
