.lovedforitem {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: solid 1px #d8d9db;
  margin: 7px 14px 7px 1px;
}

.lovedforitem:hover {
  cursor: pointer;
  border: solid rgb(220,20,60) 2px;
  margin: 6px 13px 6px 0px;
}

.lovedforicon {
  height: 20px;
  width: 20px;
  margin: 5px 0px 5px 5px;
}

.lovedforitemtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
}

.lovedforitemtextheader {
  font-size: 13px;
  font-weight: 500;
  margin: 2px;
}

.lovedforitemtextcity {
  font-size: 13px;
  font-weight: lighter;
  margin: 2px;
}

.lovedforexpandbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: solid 1px #d8d9db;
  font-size: 13px;
  font-weight: 500;
  margin: 7px 14px 7px 1px;
  padding: 0px 10px 0px 10px;
}
