.summary {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.summaryheader {
  display: flex;
  font-size: 23px;
  font-weight: 625;
  color: #2d333f;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 15px 0px;
  border-bottom: solid 1px #d8d9db;
}

.summarybody {
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  font-size: 15px;
}
