.sortbydropdown {
  position: absolute;
  top: 82.5%;
  display: flex;
  flex-direction: column;
  border: solid #d8d9db 1px;
  border-radius: 3px;
  z-index: 1;
}

.sortbydropdownitem {
  display: flex;
  align-items: center;
  width: 300px;
  font-size: 13px;
  font-weight: 450;
  padding: 10px;
  background-color: white; 
}

.sortbydropdownitem:hover {
  background-color: #FFF5EE;
  cursor: pointer;
}

.dropdowncircleempty {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: solid #2d333f 2px;
  margin-right: 6px;
}

.dropdowncirclefull {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: solid rgb(220,20,60) 7px;
  margin-right: 6px;
}
